{% load static %}
<link rel="stylesheet" href="{% static 'css/design/design.css' %}">
<div id="header">
  <div class="container">
    <div id="mobile_menu">
      <i class="fa fa-bars"></i>
    </div>
     <a href="/" id="logo">
       <img src="https://img.hdtoday.tv/xxrz/400x400/100/c4/93/c49337aa9c92d6fbf56b6b5830c6849c/c49337aa9c92d6fbf56b6b5830c6849c.png" alt="Logo">
     </a>
      <div id="header_menu">
        <ul class="nav header_menu-list">
          <li class="nav-item">
            <a href="/" title="Home">Home</a>
          </li>
           <li class="nav-item">
             <a href="javascript:void(0)" title="Genre">Genre</a>
             <div class="header_menu-sub" style="display: none;">

               <div class="clearfix">
               </div>
             </div>
           </li>

           <li class="nav-item">
             <a href="javascript:void(0)" title="Country">Country</a>
              <div class="header_menu-sub" style="display: none;">
              <div class="clearfix">
              </div>
            </div>
            </li>

           <li class="nav-item">
             <a href="/movie" title="Movies">Movies</a>
           </li>
            <li class="nav-item">
              <a href="/tv-show" title="TV Shows">TV Shows</a>
            </li>
            <li class="nav-item">
              <a href="/top-imdb" title="Top IMDB">Top IMDB</a>
            </li>
             <li class="nav-item">
               <a href="/android-movies-apk" title="Android App">Android App</a>
             </li>
           </ul>
            <div class="clearfix"></div>
          </div> <div id="header_right">
            <div id="search"><div class="search-content">
              <form>
                <div class="search-icon">
                  <i class="fa fa-search"></i>
                </div>
                 <input type="text" autocomplete="off" name="keyword" placeholder="Enter keywords..." class="form-control search-input">
               </form>
               <div class="nav search-result-pop search-suggest">
               </div>
             </div>
           </div>
          <div id="user-slot">
    <div class="header_right-user">
        <a href="javascript:void(0)" data-toggle="modal" data-target="#modallogin" class="btn btn-sm btn-on-header btn-login"><i class="far fa-user"></i> Login</a>
    </div>
</div> <div class="clearfix">
</div>
</div>
 <div class="clearfix">
 </div>
</div>
</div>
